*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build artifacts
*.aar
*.jar
/app/src/main/jniLibs/
/app/libs/goncvpn-sources.jar
*.apk
/app/build/
/app/release/
/app/debug/

!/app/libs/goncvpn.aar
